@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-premium-gray text-slate-800 font-sans min-h-screen;
  }

  input,
  textarea,
  select,
  button {
    @apply outline-none;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-premium-gray-mid rounded-full;
  }
}
